.catalog {
  @include tablet {
    margin-bottom: 71px;
  }

  @include desktop {
    margin-bottom: 0;
    max-width: $desktop-container-max;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
  }
}

.catalog__list {
  margin: 0;
  border-top: $greyBorder;
  list-style: none;
  padding: 0;
  padding-bottom: 25px;

  @include tablet {
    border-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    column-gap: 60px;
    row-gap: 138px;
    padding-top: 82px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    column-gap: 80px;
    row-gap: 144px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 90px;
  }
}
