.feauters-list {
  list-style: none;
  padding: 0;
  margin-top: 0;

  @include tablet {
    display: flex;
    counter-reset: section;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.feauters-list__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  max-height: 60px;
  margin-bottom: 20px;

  &::before {
    @include tablet {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      font-size: 281px;
      line-height: 281px;
      font-family: $Oswald;
      font-weight: 700;
      top: -38px;
      left: 115px;
      color: $grey;
      z-index: -1;
    }
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    width: 245px;
    min-height: 230px;
    margin-bottom: 89px;
  }
}

.feauters-list__img {
  width: 45px;
  height: 45px;
  margin: 15px;
}

.feauters-list__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: 60px;
  background-color: $green;
  margin-right: 20px;

  @include tablet {
    width: 80px;
    height: 80px;
    margin-bottom: 37px;
  }
}


.feauters-list__item-text {
  padding: 6px 0;
  margin: 0 auto;

  @include tablet {
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
