*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  min-width: $mobile;
  width: 100%;
  padding: 0 20px;

  @include tablet {
    max-width: $tablet;
    margin: 0 auto;
    padding: 0 30px;
  }

  @include desktop {
    max-width: $desktop-container-max;
    margin: 0 auto;
    padding: 0 110px;
  }
}
