@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: $mobile) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: $breakpoint-mobile-only) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    // min-width: 768
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    // min-width: 1220
    @content;
  }
}

@mixin track() {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
  animate: 0.2s;
}

@mixin thumb() {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 5px 1px rgba(0, 0, 0, 0.15);
  border: $thumb-border-width solid $thumb-border-color;
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-radius;
  background: $thumb-color;
  cursor: pointer;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
